extends layout

block content
	.jumbotron#banner
		.container#banner
			#banner-bg
			#banner-text
				.infoline Get to the finish line
				.behindline &amp;
				.headline Healthier&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stronger

	.container(role="main")
		.row
			.col-xs-2
				.bodyspecinfo
					p Transform your health for the rest of your life with our new innovative program.
					p
						a(href="/programs/body-specific-dna")
							button.btn.btn-md.btn-primary(type="button") Enter the<br>future!
			.col-xs-4.divider-right
				a(href="/programs/body-specific-dna")
					img(src="/images/body-specific-dna.png", width="100%")
			.col-xs-4
				//- a(href="/programs/body-specific-360")
				img(src="/images/body-specific-360.png", width="100%")
			.col-xs-2
				.bodyspecinfo
					p An all-ecompassing program to help you improve every aspect of your health.
					p
						a(href="/programs/body-specific-360")
							button.btn.btn-md.btn-primary.disabled(type="button") Complete<br>yourself!
		.row
			.col-xs-3.divider-right#tools-menu-container
				img(src="/images/tools_h400px_onpxgrid.png", width="100%")
				#tools-menu
						a(href="/tools/zyto")
							.row.tools-menu-item
								p Zyto
						a(href="/tools/metabolic-testing")
							.row.tools-menu-item
								p Metabolic Testing
						a(href="/tools/sudo-scan")
							.row.tools-menu-item
								p Sudo Scan
						a(href="/tools/pathway-fit")
							.row.tools-menu-item
								p Pathway Fit
			.col-xs-3.divider-right
				a(href="/shops/doterra")
					img(src="/images/doterra_w600px_onpxgrid.png", width="100%")
			.col-xs-3.divider-right
				a(href="/shops/juice-plus")
					img(src="/images/juiceplus_w600px_onpxgrid.png", width="100%")
			.col-xs-3
				a(href="/shops/vitamin-shoppe")
					img(src="/images/vitaminshoppe_h400px_onpxgrid.png", width="100%")
		.row
			.col-xs-3
				h4 Tools
			.col-xs-3
				a(href="/shops/doterra")
					h4 Essential Oils
			.col-xs-3
				a(href="/shops/juice-plus")
					h4 Organic Supplements
			.col-xs-3
				a(href="/shops/vitamin-shoppe")
					h4 Vitamin Shoppe

