doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")

		title #{title} | OnTrack Health &amp; Wellness

		// Bootstrap
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')

		link(rel='stylesheet', href='/stylesheets/style.css')

		// Fonts
		//- link(href='http://fonts.googleapis.com/css?family=Condiment', rel='stylesheet', type='text/css')
		//- link(href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic', rel='stylesheet', type='text/css')

		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries

		//
			[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]

	body
		.wrapper

			// NAVBAR
			.navbar.navbar-default.navbar-fixed-top(role="navigation")
				.container
					.navbar-header
						button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
							span.sr-only Toggle Navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="/")
							img(src="/images/brand_h60px_onpxgrid.png", height="60px")
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="/programs") Programs
									b.caret
								ul.dropdown-menu
									li
										a(href="/programs/body-specific-dna") Body Specific DNA
									li.disabled
										a(href="/programs/body-specific-360") Body Specific 360
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="/tools") Tools
									b.caret
								ul.dropdown-menu
									li
										a(href="/tools/zyto") Zyto
									li
										a(href="/tools/metabolic-testing") Metabolic Testing
									li
										a(href="/tools/sudo-scan") Sudo Scan
									li
										a(href="/tools/pathway-fit") Pathway Fit
							li.disabled
								a(href="/library/lets-eat") Let's Eat
							li.disabled
								a(href="/library/get-moving") Get Moving
							li.disabled
								a(href="/library/monthly-pass") Monthly Pass
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="/community") Community
									b.caret
								ul.dropdown-menu
									li.disabled
										a(href="/community/q-and-a") Q &amp; A
									li.disabled
										a(href="/community/newsletters") Newsletters
									li
										a(href="/community/blog") Blog
									li.disabled
										a(href="/community/success-stories") Success Stories
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="/shops") Shops
									b.caret
								ul.dropdown-menu
									li
										a(href="/shops/vitamin-shoppe") Vitamin Shoppe
									li
										a(href="/shops/doterra") doTERRA
									li
										a(href="/shops/juice-plus") Juice PLUS+


			// CONTENT
			block content

			// FOOTER
			.push
		.footer
			.container
				.row
					//- SOCIAL MEDIA CONNECTIONS
					//- .col-xs-6.col-md-4
					//- 	p follow us
					//- 	a(href="#")
					//- 		img(src="/images/socialmedia_twitter.png")
					//- 	a(href="#")
					//- 		img(src="/images/socialmedia_facebook.png")
					//- 	a(href="#")
					//- 		img(src="/images/socialmedia_youtube.png")
					//- SIGN UP FOR NEWSLETTER
					//- .col-xs-6.col-md-4
					//- 	p Sign up for our newsletter
					//- 	.input-group
					//- 		input.form-control(type="text")
					//- 		.input-group-btn
					//- 			button.btn.btn-default(type="button") Submit!
				.row
					.col-xs-12#bottomlinks
						a(href="/") OnTrack Health &amp; Wellness
						span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						a(href="http://www.john-mars.com") &copy;2014. Design by John Mars
						//- span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						//- a(href="/info/trademarks") Trademarks
						//- span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						//- a(href="/info/advertise") Advertise with Us
						//- span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						//- a(href="/info/about") About
						//- span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						//- a(href="/info/contact") Contact

		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')
