@import "variables.less";
@footer-height: 200px;

// BEGIN
* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	padding-top: @navbar-height;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -@footer-height;
}

.row {
	margin-bottom: 20px;
}

button {
	text-transform: uppercase;
	font-weight: bolder;
}

.btn-primary {
	border: solid 2px @btn-primary-border;
}

.btn-primary:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.divider-right {
	border-right: solid 1px #fff;
}

h1 {
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	text-align: center;
	color: #fff
}


// NAVBAR
.navbar {
	font-size: .85em;
	text-transform: uppercase;
}


// BANNER
.jumbotron#banner {
	text-align: center;
	height: 300px;
}

#banner {
	position: relative;
	height: 100%;
	width: 100%;
}

#banner-bg {
	position: absolute;
	// width: 100%;

	top: -@jumbotron-padding * 1.6;
	left: -@jumbotron-padding;
	right: -@jumbotron-padding;
	bottom: -@jumbotron-padding * 1.6;

	background-image: url('/images/jumbotron_banner.jpg');
	background-size: 100%;
	background-position: 0px -50px;
	opacity: .5;
}

#banner-text {

	position: absolute;
	text-align: center;
	width: 100%;
	height: 100px;

	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

	.infoline {
		position: absolute;
		width: 100%;
		margin: 0 auto;
		top: -50px;

		font-size: 2em;
		font-style: italic;
	}

	.headline {
		position: absolute;
		top: 30px;
		width: 100%;
		margin: 0 auto;

		font-family: 'Condiment', cursive;
		font-size: 6em;

	}

	.behindline {
		position: absolute;
		top: -50px;
		width: 100%;
		margin: 0 auto;

		font-family: Baskerville, 'Libre Baskerville', serif;
		font-style: italic;
		font-size: 14em;
		color: @brand-primary;

	}
}


// FOOTER
.footer, .push {
	height: @footer-height;
}

.footer {
	background-color: #fff;
	padding: 30px;

	text-transform: uppercase;

	img {
		border-radius: @border-radius-base;
		margin-right: 10px;
	}
}

#socialmedia {
	float: left;
	height: 120px;
	margin-right: 20px;
}

#signup {
	height: 120px;
}

#bottomlinks {
	font-size: .8em;
}

#tools-menu-container:hover #tools-menu {
	opacity: 1;
}

#tools-menu {
	transition: opacity .3s ease;
	opacity: 0;
	padding: 20px 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

}

.tools-menu-item {
	background-color: #fff;
	opacity: .7;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	height: 30px;
	margin-top: -20px;
	padding: 5px;
}

.tools-menu-item:hover {
	opacity: .9;
}
